* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: var(--montserrat);
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

img {
   object-fit: cover;
   object-position: center;
   height: 100%;
   width: 100%;
}

button {
   cursor: pointer;
   background: none;
}

.container {
   height: auto;
   max-width: 1390px;
   margin: 0 auto;
   padding: 0 40px;
}

.container--grid {
   display: grid;
   grid-template-columns: minmax(auto, 760px) minmax(320px, 1fr);
}

.container.container--border {
   border-right: 1px solid rgba(255, 255, 255, 0.1);
   border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.main {
   display: flex;
   flex-direction: column;
   position: relative;
}

.main__background {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -2;
   width: 100%;
   object-fit: cover;
   height: 100%;
}

.main::before {
   content: "";
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: rgba(4, 4, 4, 0.8);
   z-index: -1;
}

.logo {
   width: 100%;
   max-width: 160px;
   height: 56px;
   background: rgba(98, 98, 98, 0.59);
}

.nav__list {
   display: flex;
   align-items: center;
   gap: 30px;
}

.nav__list--col {
   flex-direction: column;
   align-items: flex-start;
}

.nav__list a {
   font-size: 20px;
   font-family: "Oswald";
   font-weight: 400;
   color: white;
   text-transform: uppercase;
   position: relative;
   transition: color 0.2s ease-in-out;
}

.nav__list a::before {
   position: absolute;
   display: block;
   content: "";
   width: 100%;
   height: 1px;
   left: 0;
   bottom: 0;
   background: var(--border);
   transition: background 0.2s ease-in-out;
}

.nav__list a:hover {
   color: var(--yellow);
}

.nav__list a:hover::before {
   background: var(--yellow);
}

.button {
   text-transform: uppercase;
   font-family: "Oswald";
   font-weight: 300;
   border: 1px solid var(--border);
   color: white;
   font-size: 20px;
   height: auto;
   min-height: 54px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 24px;
   transition: all 0.2s ease-in-out;
}

.button:hover {
   color: var(--yellow);
   border: 1px solid var(--yellow);
}

.button.button--solid {
   background: var(--yellow);
   color: black;
   padding: 0 34px;
}

.button.button--solid-white {
   background: white;
}

.input {
   background: none;
   border: 1px solid #e2e2e2;
   padding: 25px 30px;
   display: block;
   width: 100%;
   color: inherit;
   font-family: var(--montserrat);
   font-size: 18px;
   font-weight: 400;
   transition: all 0.4s ease-in;
}

input::placeholder {
   color: #8f919b;
   transition: opacity 0.1s linear;
}

.input:focus,
.input.validate {
   outline: none;
   border: 1px solid var(--yellow);
}

.input:focus::placeholder {
   opacity: 0;
}

.input.error {
   border: 1px solid rgba(221, 21, 21, 0.7);
}
.error-msg{
   color: rgba(221, 21, 21, 0.7);
   font-size: 12px;
   margin-top: 5px;
}

.input__file {
   font-size: 18px;
   color: #1b1b1b;
}

.input__file i {
   color: var(--yellow);
}

.title {
   font-family: var(--oswald);
   font-size: 54px;
   font-weight: 400;
   position: relative;
}

.title::before {
   content: "";
   display: block;
   position: absolute;
   width: 72px;
   height: 4px;
   top: -5px;
   background-color: var(--yellow);
}

.title--white,
.text--white {
   color: white;
}

.title--black,
.text--black {
   color: black;
}

.text {
   font-family: var(--montserrat);
   font-size: 18px;
   line-height: 27px;
   font-weight: 400;
}

.form {
   width: 100%;
}

.form__row {
   display: flex;
}

.form__col {
   display: flex;
   flex-direction: column;
}

.form__footer-button {
   font-family: var(--montserrat);
   font-size: 18px;
   font-weight: 600;
   width: 50%;
   height: auto;
}

.form__footer-message {
   padding-top: 14px;
   padding-left: 22px;
   padding-bottom: 5px;
   font-family: var(--montserrat);
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   width: 50%;
}

.show-md {
   display: none !important;
}

.modal {
   position: fixed;
   display: none;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: #00000061;
   z-index: 9999;
   padding: 20px;
   animation: fadeIn 0.2s ease-in-out;
}

.modal.open {
   display: flex;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.modal__container {
   background: white;
   max-width: 615px;
   width: 100%;
   padding: 114px 10px 121px;
   position: relative;
}

.modal__container--white {
   background: white;
   color: black;
}

.modal__container-close {
   position: absolute;
   right: 30px;
   top: 30px;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   border: 1px solid #524426;
   display: flex;
   align-items: center;
   justify-content: center;
   color: inherit;
   cursor: pointer;
}

.modal__container-inner {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: inherit;
   max-width: 315px;
   width: 100%;
   margin: 0 auto;
}

.modal__title {
   font-family: var(--oswald);
   font-size: 24px;
   font-weight: 400;
   line-height: 43px;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.modal__text {
   text-align: center;
   font-family: var(--montserrat);
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
   margin-bottom: 20px;
}

.modal__button {
   width: 100%;
}

@media (max-width: 1200px) {
   .nav__list {
      gap: 15px;
   }

   .nav__list a {
      font-size: 16px;
   }

   .logo {
      max-width: 120px;
      height: 40px;
   }
}

@media (max-width: 900px) {
   .show-md {
      display: block !important;
   }

   .hide-md {
      display: none !important;
   }

   section {
      padding-right: 20px !important;
      padding-left: 20px !important;
   }

   .container {
      padding: 0;
   }

   .container.container--border {
      padding: 0 10px;
   }

   .title {
      font-size: 26px;
   }

   .text {
      font-size: 16px;
      line-height: 22px;
   }

   .nav__list {
      flex-direction: column;
      align-items: flex-start;
   }

   .container--grid {
      grid-template-columns: 1fr;
   }

   .form__row {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
   }

   .form__footer-button {
      width: 100%;
      height: 54px;
      font-size: 20px;
      font-family: var(--oswald);
      font-weight: 400;
   }

   .form__footer-message {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
   }

   .input {
      font-size: 16px;
      padding: 10px 17px;
      line-height: 27px;
   }
}

@media (max-width: 420px) {
   .modal__title {
      font-size: 18px !important;
   }

   .modal__text {
      font-size: 12px;
      line-height: 20px;
   }

   .modal__image {
      max-width: 80%;
   }

   .modal__container {
      padding-top: 68px;
      padding-bottom: 48px;
   }

   .modal__container-close {
      right: 10px;
      top: 10px;
      width: 28px;
      height: 28px;
      font-size: 10px;
   }
}
