.swiper-slide img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.swiper-slide-active {
  transform: scale(1.2); /* Увеличьте размер активного слайда */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
}

.slider-arrows {
  display: flex;
  height: 100%;
}

.slider-arrow {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

[data-slider-arrow] i {
  transition: all 0.4s ease-in;
}

[data-slider-arrow="left"]:hover i {
  color: var(--yellow);
}

[data-slider-arrow="right"]:hover i {
  color: var(--yellow);
}

/* product slider */
