.gallery{
    padding-top: 110px;
    background: var(--black);
    overflow: hidden;
}

.gallery-slider{
    height: 700px;
    overflow: visible !important;
}

.gallery-slider .swiper-slide:not(.swiper-slide-active) img{
   filter: brightness(0.4);
   
}

.gallery-slider .swiper-slide img{
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.gallery-arrows{
    height: 150px;
}

.gallery-arrows i{
    color: white;
    font-size: 30px;
}

@media (max-width:900px){
    .gallery{
        padding: 50px 0;
    }

    .gallery-slider{
        height: 400px;
        padding: 0 10px;
    }

    .gallery-arrows{
        display: none;
    }
}

@media (max-width:767px){
    .gallery-slider{
        height: 300px;
    }
}